github "Codeido/PMSuperButton"
github "Skyscanner/SkyFloatingLabelTextField"
github "zoul/generic-json-swift" "master"
github "jinSasaki/AlertBar"
github "soffes/SAMKeychain"
github "venmo/Static"
github "onevcat/Kingfisher"
github "raizlabs/Anchorage"
github "mattwyskiel/SwiftyAcknowledgements" "develop"