doctype html
head
  title Reset Password
div
  h3 Password Reset
  form
    label(for='newPassword') New Password
    input#newPassword(type='password' name='newPassword' required='')
    br
    label(for='verifyPassword') Confirm Password
    input#verifyPassword(type='password' name='verifyPassword' required='')
    input#resetPasswordClickEvt(type='submit' name='submit' value='Reset Password')
script(type='text/javascript').
  var resetPasswordClickEvt = document.getElementById('resetPasswordClickEvt');
  resetPasswordClickEvt.addEventListener('click', resetPasswordClicked);
  function resetPasswordClicked(event) {
    event.preventDefault();
    var token = document.location.href.split('token=')[1];
    var data = {
        newPassword: document.getElementById('newPassword').value,
        verifyPassword: document.getElementById('verifyPassword').value,
        token: token
    };
    var getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
    console.log(baseUrl);
    ajaxCall(data, baseUrl + "v1/users/reset-password", function(status, response) {
        if (status == 200) {
            alert('successfully sent');
        } else {
            console.log(response)
            alert('Error', status)
        }
    });
  }
  function ajaxCall(data, url, callback) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", url, true);
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
            return callback(this.status, JSON.parse(xhttp.response));
        }
    }
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(JSON.stringify(data));
  }
