doctype html
head
    meta(charset="UTF-8")
    meta(http-equiv="refresh", content="1; URL='kingsmen-cafe://order-confirmation'")

    script.
        window.location.href = "kingsmen-cafe://order-confirmation"
body
    h3 Redirecting back to app...
    p If you are not redirected automatically, follow
        a(href="kingsmen-cafe://order-confirmation") this link.